.UserProfile-container {
  height: 25%;  
}


.UserProfileCardBody {
  background-color: #34b3f3;
  height: 25%;
  
}

.UserProfile-Username {
  color: white;
}

.UserProfile-fullname {
  color: white;
}

.UserProfile-stats {
  color: white;
  width: 60%;
  margin: auto;
  padding: 2rem;
}

.UserProfile-About {
  color: white;
}

.UserProfile-bio {
  border: 1px solid white;
  color: white;
  width: 50%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}